/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
body{
	margin:0;
	padding:0;
	background:#fff;
	font-family: 'Open Sans', sans-serif;
 }
h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: 'Montserrat', sans-serif;
}	
p{
	margin:0;
}
ul{
	margin:0;
	padding:0;
}
p,ul,ol{
	font-size:14px;
}
input[type="submit"],a,.nbs-flexisel-nav-left,.nbs-flexisel-nav-right{
	transition:.5s ease-in;
	-webkit-transition:.5s ease-in;
	-moz-transition:.5s ease-in;
	-o-transition:.5s ease-in;
	-ms-transition:.5s ease-in;
}
a:hover{
	text-decoration:none;
}
a:focus{
	outline:none;
	text-decoration:none;
}
/*-- banner --*/
/*--header -top--*/
/*-- nav --*/
.w3_navigation {
    padding: 0.9em 0;
}
.navbar-default {
    background: none;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar-right {
    margin-right: 0;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color:#fff;
    background:none;
}
.navbar-default .navbar-nav > li > a {
    font-weight: 500;
    letter-spacing: 1px;
}
.navbar-nav > li > a {
    margin: 0;
    padding:0 1.5em;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#f2184f;
}
.navbar-default .navbar-nav > li > a:focus {
    color: #33cc99;
	outline:none;
}
nav.navbar.navbar-default {
    background: none;
    padding:1em 0 0 0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color:#33cc99;
    background: none;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.navbar-default .navbar-nav  > .active.open > a:focus {
	background: #0a9dbd;
	color: #fff;
}
.navbar-default .navbar-brand,.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #dca44b;
}
.navbar-brand {
    padding: 0;
    font-size:1em;
    text-transform: uppercase;
    letter-spacing:1px;
    line-height:35px;
    position: relative;
    font-weight: 700;
}
.navbar-brand span {
    color: #82b9e2;
}
p.logo_w3l_agile_caption {
    text-transform:uppercase;
    letter-spacing:9px;
    font-size: 11px;
    color: #8c908c;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-align: center;
}
.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
	padding:0;
	border: none;
}
.agile_short_dropdown li a{
	text-transform:uppercase;
	color:#212121;
	font-size:13px;
	font-weight:600;
	padding: .8em 0;
}
.agile_short_dropdown > li > a:hover{
    color: #fff;
    text-decoration: none;
   background-color: #ef5734;
}
.header {
    padding: 1em 0em;
    background:rgba(0, 0, 0, 0.79);
}
/*-- //header-left --*/
/*-- w3-header-bottom --*/
.w3-header-bottom {
	background: #212121;
    padding: 0.8em 2em;
}
.agileinfo-phone {
	float: left;
    margin: .5em 2em 0 0;
}
.agileinfo-phone p {
	color: #FFFFFF;
    font-size: .9em;
    margin: 0;
    font-weight: 600;
}
.agileinfo-map{
	margin-right:0;
}
.search-grid {
    float: right;
    width: 18%;
    border: 1px solid #fff;
}
.search-grid input[type="text"] {
    display: inline-block;
    background: none;
    border: none;
    border-right: solid 1px #ffffff;
    width: 84%;
    padding: .5em;
    outline: none;
    font-size: .9em;
    color: #FFFFFF;
}
.big-dog::-webkit-input-placeholder {
	color: #FFFFFF !important;
}
.search-grid i.fa.fa-paper-plane-o{
    color: #FFFFFF !important;
    font-size: 1.2em !important;
}
.search-grid button.btn1 {
    color: #ffffff;
    font-size: .9em;
	padding: 6px 6px;
    border: none;
	outline:none;
    text-align: center;
    text-decoration: none;
    background: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.search button:hover{
    border: solid 1px #212121;
    background: #212121;
}
.search button:hover i.fa.fa-paper-plane-o{
    color: #FFFFFF !important;
}
/*-- nav-effect --*/
.menu__list {
	position: relative;
	margin:0.5em 0 0;
}

.menu__item {
	display: block;
	margin: 1em 0;
}

.menu__link {
	font-size: 1.05em;
	font-weight: bold;
	display: block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* Iris */
.menu--iris .menu__item {
	margin:0 0.5em;
}

.menu--iris .menu__link {
	position: relative;
	text-align: center;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu--iris .menu__link:hover,
.menu--iris .menu__link:focus {
	color: #929292;
}

.menu--iris .menu__item--current .menu__link,.menu__link:hover {
	color:#dca44b;
}

.menu--iris .menu__link::before,
.menu--iris .menu__link::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	opacity: 0;
	border: 2px solid #4a4a4a;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
	transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
}

.menu--iris .menu__link::before {
	top: 0;
	left: 0;
	border-width: 2px 0 0 2px;
	-webkit-transform: translate3d(10px, 10px, 0);
	transform: translate3d(10px, 10px, 0);
}

.menu--iris .menu__link::after {
	right: 0;
	bottom: 0;
	border-width: 0 2px 2px 0;
	-webkit-transform: translate3d(-10px, -10px, 0);
	transform: translate3d(-10px, -10px, 0);
}

.menu--iris .menu__item--current .menu__link::before,
.menu--iris .menu__item--current .menu__link::after,.menu__link:hover::before,.menu__link:hover::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.dropdown-menu {
    position: absolute;
    top: 226%;
    left: 0;
    z-index: 1000;
    display: none;
}
/*-- //nav-effect --*/
/*-- banner-text --*/ 
.header-w3layouts{
    position: absolute;
    top: 0;
    z-index: 99;
    text-align: center;
    left: 0;
    width: 100%;
}
.agileits-banner-info h3 {
    color: #fff;
    font-size: 4em;
    margin: 0.1em 0 0.2em 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
	text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-webkit-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-o-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	-moz-text-shadow: 1px 1px 2px rgb(12, 12, 12);
	
}
.agileits-banner-info h3 span{
	    background: #2529d8;
    padding: 0 15px;
}
.agileits-banner-info {
    text-align: center;
    padding: 18em 0 0em;
}
.agileits-banner-info p {
    color: #e2dfdf;
    font-size: 1em;
    line-height: 2.2em;
    letter-spacing: 2px;
    font-weight: 500;
    width: 49%;
	margin: 0 auto;
    text-align:  center;
}
.agileits_w3layouts_more{
	position:relative;
}
.agileits_w3layouts_more a{
	    font-size: 17px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
}

.agileits-banner-info span {
	background:#ef5734;
    padding: 0.5em 2em;
    color: #fff;
    font-size: 1.1em;
    padding: 5px 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*-- //banner-text --*/
/*-- banner-top --*/
.w3layouts-banner-top{
    background: url(../images/ba1.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts-banner-top1{
	background: url(../images/ba2.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:700px;
}
.w3layouts-banner-top2{
	background: url(../images/ba3.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:700px;
}
.w3layouts-banner-top3{
	background: url(../images/ba4.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:700px;
}

/*-- //banner-top --*/ 
.banner-1{
	background: url(../images/ba1.jpg) no-repeat 0px -200px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;	
	min-height:300px;
}
/*--about--*/
/*-- welcome --*/ 
.about,.services,.w3-offer,.testimonials,.contact,.team,.gallery,.about-grids1{
	padding:4em 0;
}
.w3-heading-all h3{
    font-size: 3em;
    color: #f2184f;
    text-align: center;
		 margin-bottom:40px;
		 text-transform: capitalize;
}
/* about */
.about-left img {
    width: 100%;
}
.about-right h3 {
    font-size: 1em;
    color: #000;
    line-height: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.about-right p {
    color: #999;
    margin: 1em 0;
    font-size: 1em;
    line-height: 1.8em;
}
.about-right a {
    background: #ffb900;
    border: 2px solid #ffb900;
    color: #FFFFFF;
    padding: .4em 1em;
    font-size: 1.3em;
}
.about-right a:hover {
   background: rgb(19,19,19);
    color: #fff;
    border: 2px solid rgb(19,19,19);
}
.more {
    margin: 3em 0 1em;
}
.agileits-w3layouts-info img {
    vertical-align: middle;
    width: 100%;
    margin-bottom: 1em;
}
.modal-title {
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    margin: .5em 0;
	    color: #dca44b;
    letter-spacing: 1px;
}
.span1{
	color:#000;
}
.agileits-w3layouts-info p {
    font-size: 1em;
    line-height: 1.8em;
    line-height: 1.8em;
    color: #999;
}
.modal-content {
	border-radius:0px;
}
.more a {
   background: #dca44b;
    color: #fff;
    border: 2px solid #dca44b;
    color: #FFFFFF;
    padding: .4em 1em;
    font-size: 1.3em;
}
.more a:hover {
    background: rgb(19,19,19);
    color: #fff;
    border: 2px solid rgb(19,19,19);
}
.w3-about-bottom-head h3 {
    font-size: 3em;
    margin: 1em 0;
	color:#fff;
}
.w3-about-bottom-head p {
    font-size: 1em;
    line-height: 1.8em;
    width: 89%;
	color: rgba(255, 255, 255, 0.78);
}
.about-bottom-icon1 i {
    font-size: 3em;
    color: #4dc8ec;
    margin: 0.5em 0;
}
.about-bottom-icon1 h4 {
   font-size: 2em;
    margin: 0.5em 0;
    color: #fff;
    font-weight: 600;
}
.about-bottom-icon1 h3 {
  font-size: 2.5em;
    margin: 0.5em 0;
    text-transform: capitalize;
    color: #fff;
}
/* //about */
/*-- about page--*/
.banner-text.agileinfo.about-w3bnr h2 {
    font-size: 2em;
    letter-spacing: 3px;
}
.banner-text.agileinfo.about-w3bnr h2 a{
    color:#03d2be;
}
.banner-text.agileinfo.about-w3bnr h2 a:hover{
    color:#fff;
}
.banner-text.agileinfo.about-w3bnr{
    padding: 4em 0; 
}
.w3ls_about_left_grid h3 {
    color: #f2184f;
    font-size: 1.8em;
    margin-bottom: 0.54em;
}
.w3ls_about_left_grid:nth-child(2) {
    margin: 2.2em 0;
}
.w3ls_about_left_grid i.fa{
    color: #dca44b;
    margin-right: 0.8em;
}
/*-- //about page--*/
/*-- /services --*/
.w3-services-grids{
     background: url(../images/s11.jpg) no-repeat 0px -226px;
    background-size: cover;
    min-height:451px;
	}
	.w3-services-grid-right i {
    font-size: 3em;
    color: #dca44b;
	}
	.w3-services-grid-info {
    margin: 2em 0;
	}
	.w3-services-grid-right {
    background:rgba(120, 113, 113, 0.32);
       padding: 4em 3em;
	}
	.w3-services-grid-right1 p {
    color: #fff;
    font-size: 1em;
    line-height: 1.8em;
	}
	/*-- //services --*/
/*-- //team --*/
.team-social {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    margin-bottom: 1em;
}
.team-social a i {
    color: #000;
    font-size: 16px;
    padding: 10px;
    width: 35px;
    height: 35px;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
}

.team i.fa.fa-facebook {
    color: #3b5998;
    border: 1px solid #3b5998;
}

.team i.fa.fa-facebook:hover {
    color: #fff;
    background: #3b5998;
    border: 1px solid #3b5998;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: 1s all;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}
.team i.fa.fa-twitter {
    color: #1da1f2;
    border: 1px solid #1da1f2;
}
.team i.fa.fa-twitter:hover {
    color: #fff;
    background: #1da1f2;
    border: 1px solid #1da1f2;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: 1s all;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}
.team i.fa.fa-linkedin {
    color: #e68523;
    border: 1px solid #e68523;
}
.team i.fa.fa-linkedin:hover {
    color: #fff;
    background: #e68523;
    border: 1px solid #e68523;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: 1s all;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}
.team i.fa.fa-pinterest-p {
    color: #bd081c;
    border: 1px solid #bd081c;
}
.team i.fa.fa-pinterest-p:hover {
    color: #fff;
    background: #bd081c;
    border: 1px solid #bd081c;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    transition: 1s all;
    -o-transition: all 1s;
    -ms-transition: all 1s;
}
.teamgrids p {
    color: #4a4a4a;
    font-size: 15px;
    margin: .8em 0;
    letter-spacing: 1px;
}
.teamgrid1 i.fa {
    color: #ff4c4c;
    font-size: 1.2em;
    padding-right: .5em;
}
.teamgrid1 h3 {
    color: #000;
    text-transform: uppercase;
    margin: 1em 0;
    font-size: 21px;
}
.teaminfo {
    border: 1px solid #e8e8e8;
    padding: 1em 2em;
    border-top: transparent;
	-webkit-box-shadow: 0px 2px 14px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 14px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 14px -5px rgba(0,0,0,0.75);
}
.teamgrids {
    margin-top: 5em;
}
/*-- social-icons --*/
.w3-header-top-left {
    float: left;
}
.agileinfo-social-grids{
    margin-left: 0;
}
.agileinfo-social-grids ul{
	padding:0;
	margin:0;
}
.agileinfo-social-grids ul li{
    display: inline-block;
}
.agileinfo-social-grids ul li a {
	color: #FFFFFF;
    text-align: center;
}
.agileinfo-social-grids ul li a span.fa{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a span.fa.fa-facebook:hover {
    color: #3b5998;
}
.agileinfo-social-grids ul li a span.fa.fa-twitter{
	margin:0 1em;
}
.agileinfo-social-grids ul li a span.fa.fa-twitter:hover{
	color: #55acee;
}
.agileinfo-social-grids ul li a span.fa.fa-rss{
	margin:0 1em 0 0;
}
.agileinfo-social-grids ul li a span.fa.fa-rss:hover{
	color: #f26522;
}
.agileinfo-social-grids ul li a span.fa.fa-vk:hover{
	color: #45668e;
}
/*-- //team --*/
/*-- testimonials --*/
.w3ls_testimonials_grids{
	 width: 80%;
    margin: 0em auto 3em;
}
.w3l_testimonial_grid{
	padding: 4em 2em 2em;
    background: #f5f5f5;
    text-align: center;
    position: relative;
    margin: 5em 1.2em 0;
}
.w3l_testimonial_grid:focus,.agileits_testimonial_grid:focus{
	outline:none;
}
.w3l_testimonial_grid_pos{
	position:absolute;
	width:100%;
	text-align:center;
	top:-25%;
	left:0%;
}
.w3l_testimonial_grid_pos img{
	margin:0 auto;
	border-radius:50%;
}
.w3l_testimonial_grid p{
	color:#999;
	line-height:2em;
	position:relative;
	padding-left:2em;
}
.w3l_testimonial_grid p:before{
	content:"\f10d";
	font-size:2em;
	color:#dca44b;
	font-family:FontAwesome;
	position:absolute;
	top:0%;
	left:0%;
}
.agileits_testimonial_grid h4{
	font-size:1.1em;
	color:#212121;
	margin:1em 0 0.5em;
}
.agileits_testimonial_grid h5{
	font-size:.8em;
	color:#dca44b;
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/* Arrows */
.slick-prev,
.slick-next
{
    line-height: 0;
    position: absolute;
    top: 60%;
    display: block;
    width: 50px;
    height: 40px;
    margin-top: 0;
    padding: 0;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 1em;
    outline: none;
    background: #dca44b;
    z-index: 9;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    outline: none;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'FontAwesome';
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-prev:before
{
    content:"\f177";
}
[dir='rtl'] .slick-prev:before
{
    content: "\f177";
}

.slick-next,[dir='rtl'] .slick-prev
{
    right:-6.5%;
}
[dir='rtl'] .slick-next,.slick-prev
{
    right: auto;
    left:-6.5%;
}
.slick-next:before
{
    content: "\f178";
}
[dir='rtl'] .slick-next:before
{
    content: "\f178";
}

/* Dots */
.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -45px;

    display: block;

    width: 100%;
    padding: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: #212121;
    border: 0;
    outline: none;
    background:transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'FontAwesome';
    font-size: 13px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "\f111";
    text-align: center;
    opacity: .25;
    color: #808080;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
/*-- //testimonials --*/
/*-- /blog --*/

.banner-btm-top,
.banner-btm-bottom {
    display: flex;
    display: -webkit-flex;
}

.a1 {
    background: url(../images/1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 350px;
}

.a2 {
    background: url(../images/2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 350px;
}

.a3 {
    background: url(../images/3.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 350px;
}

.a4 {
    background: url(../images/4.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 350px;
}

.a5 {
    background: url(../images/5.PNG) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 350px;
}

.a6 {
    background: url(../images/6.PNG) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 350px;
}
.a7 {
    background: url(../images/7.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 350px;
}
.a8 {
    background: url(../images/8.PNG) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    min-height: 350px;
}

.banner-btm-left {
    padding: 0;
}

.banner-btm-inner {
    flex: 1;
    padding: 8em 2.5em;
    border-style: solid;

}

.blog_date h4 {
    font-size: 0.9em;
    font-weight: 600;
    color: #230303;
    margin-bottom: 1em;
}

.banner-btm-inner h6 {
    font-size: 1.1em;
    font-weight: 600;
    color: #222;
    margin-bottom: 1em;
}

.banner-btm-inner h6 a {
    color: #222323;
    letter-spacing: 2px;
}
.banner-btm-inner p {
    font-size: 0.9em;
    color: #fff;
    margin: 1em 0;
}

a.blog-btn {
    background: #fff;
    font-size: 0.85em;
    padding: 0.6em 1em;
    color: #222;
    letter-spacing: 1px;
}

a.blog-btn:hover {
    background: #ff3c41;
    color: #fff;
}

/*-- //blog --*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 55px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/up.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    font-size: 28px;
    color: #ef5734 !important;
    margin: 30px 0 15px;
    font-weight: 600;
    letter-spacing: 2px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 33px;
    color: #222222;
    font-weight: 600;
    letter-spacing: 2px;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
/*-- //icons --*/
.w3_wthree_agileits_icons.main-grid-border {
    padding: 6em 0;
}
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color: #ef5734;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
.grid_5 {
	padding: 0 0 1em;
}
.grid_3 {
	margin-bottom: 0em;
}
}
@media (max-width:640px){
h1, .h1, h2, .h2, h3, .h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	margin-bottom: .5em;
}
.progress {
	height: 10px;
	margin-bottom: 10px;
}
ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
	font-size: 14px;
}
.breadcrumb {
	margin-bottom: 25px;
}
.well {
	font-size: 14px;
	margin-bottom: 10px;
}
h2.typoh2 {
	font-size: 1.5em;
}
.label {
	font-size: 60%;
}
.in-gp-tl {
	padding: 0 1em;
}
.in-gp-tb {
	padding-right: 1em;
}
}
@media (max-width:480px){
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
	font-size: 1.2em;
}
.table h1 {
	font-size: 26px;
}
.table h2 {
	font-size: 23px;
	}
.table h3 {
	font-size: 20px;
}
.label {
	font-size: 53%;
}
.alert,p {
	font-size: 14px;
}
.pagination {
	margin: 20px 0 0px;
}
.grid_3.grid_4.w3layouts {
	margin-top: 25px;
}
}
@media (max-width: 320px){
.grid_4 {
	margin-top: 18px;
}
h3.title {
	font-size: 1.6em;
}
.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
	font-size: 13px;
}
.alert {
	padding: 10px;
	margin-bottom: 10px;
}
ul.pagination li a {
	font-size: 14px;
	padding: 5px 11px;
}
.list-group {
	margin-bottom: 10px;
}
.well {
	padding: 10px;
}
.nav > li > a {
	font-size: 14px;
}
table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
}
}
/*-- //typography --*/
.typo {
    padding: 6em 0;
}
/*-- about --*/
.agileits-top-heading{
	padding: 2em 0;
}
.agileits-top-heading h2{
	color:#FFFFFF;
	text-align:center;
}

/*-- gallery --*/
#portfolio p {
  line-height: 1.8em;
  margin: 25px 0 0 0;
  font-size:1.1
  color: #ffffff;
  font-weight: 300;
}
.gallery-section h3{
   margin: 0;
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}
.gallery-grid {
  padding: 0;
}
.gallery1 {
position:relative;
}
.gallery1 .textbox {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	-webkit-transform: scale(0);
	transform: scale(0);
        background-color: #dca44bad;
}
.gallery1:hover .textbox {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.gallery-grid img{
		width:100%;
}

.textbox {
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
text-align:center;
}
.textbox h4 {
    font-size: 1.8em;
    color: #FFF;
    margin-top: 3.5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
}
.textbox p {
     font-size: 26px !important;
    color: #fff;
    background: rgba(0, 0, 0, 0.83);
    margin: 6px 0 0 0!important;
    padding: 3px 0;
}
.gallery-grids {
  margin-top: 50px;
}
/*--//gallery--*/
/*-- Counter --*/
.stats {
    padding: 8em 0;
	background: url(../images/st2.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
}
.stats p.text-center {
	font-size: 16px;
    padding: 0px 0 40px;
    color: #999;
}
.stats-grid {
	text-align: center;
}
.numscroller {
    font-size: 3em;
    margin: 0;
    color: #fff;
    font-weight: 500;
}
.stats-grid i.fa {
    font-size: 2em;
    color: #dca44b;
    padding-bottom: 1em;
}
.stats-grid h4 {
    font-size: 1.2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin-top: 1em;
}
/*-- //Counter --*/
/*--contact--*/
.address-row {
    margin-top: 3em;
}
.address-row:hover span.glyphicon {
    border-color: #f44236;
    color: #000000;
}
.w3-agile-address-left {
    padding: 0;
}
.address-row span.glyphicon {
	font-size: 1.2em;
    border: 2px solid #000;
    padding: 1em;
    color: #000000;
    transition: .5s all
}
.w3-agile-address-right h5 {
    font-size: 1.5em;
    color: #000;
    margin: 0 0 .4em 0;
    font-weight: 600;
}
.w3-agile-address-right p {
    font-size: 0.9em;
    color: #999999;
    margin: 0;
}
.w3-agile-address-right p a {
    color:#f44236;
}
.w3-agile-address-right p a:hover{
    color: #999;
}
.address h4 {
    font-size: 2.5em;
    color: #dca44b;
    margin: 0 0 .6em 0;
}
.contact input[type="text"] {
	width: 47.9%;
    color: #999;
    float: left;
    background: none;
    outline: none;
    font-size: .9em;
    padding: .7em 1em;
    margin-bottom: 1.5em;
    border: solid 1px #999;
    -webkit-appearance: none;
    display: inline-block;
}
.contact input.email {
    margin-left: 1.5em;
}
.contact textarea {
    resize: none;
    width: 100%;
    background: none;
    color: #999;
    font-size: .9em;
    outline: none;
    padding: .6em .8em;
    border: solid 1px #999;
    min-height: 12em;
    -webkit-appearance: none;
}
.contact input[type="submit"] {
    outline: none;
    color: #000;
    padding: 0.5em 3em;
    font-size: .9em;
    margin: 1em 0 0 0;
    -webkit-appearance: none;
    background: none;
    transition: 0.5s all;
    border: 2px solid #000;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.contact  input[type="submit"]:hover {
    color: #FFFFFF;
	background:#f44236;
	border: 2px solid #f44236;
}
::-webkit-input-placeholder {
	color:#999 !important;
}
:-moz-placeholder { /* Firefox 18- */
	color:#999 !important;
}
::-moz-placeholder {  /* Firefox 19+ */
	color:#999 !important;
}
:-ms-input-placeholder {  
	color:#999 !important;
}
/*--//contact--*/
/*-- map --*/
.map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.agileits-w3layouts-map iframe {
    border: none;
    width: 100%;
    height: 400px;
	margin-bottom:-6px;
}
/*-- //map --*/
/*-- subscribe --*/
.subscribe{
    background: #c32040;
	padding: 2em 0;
}

.subscribe h3.heading{
    color: #ffffff;
}
.subscribe h3.heading {
    color: #ffffff;
    text-align: center;
}
.subscribe h3.heading {
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
}
.agile-subscribe-heading{
	text-align:center;
}
.subscribe-grid{
    text-align: center;
    width: 75%;
    margin: 2em auto 0;
}
.subscribe-grid input[type="email"] {
	display: inline-block;
    background: #FFFFFF;
    border: solid 1px #fff;
    width: 60%;
    outline: none;
    padding: .7em;
    font-size: 1.2em;
    color: #999999;
}
.subscribe-grid i.fa.fa-paper-plane-o{
    color: #FFFFFF !important;
    font-size: 1.2em !important;
}
.subscribe-grid button.btn1 {
    color: #ffffff;
    font-size: 1.2em;
    border: solid 1px #efb312;
    width: 70px;
    padding: .7em;
    text-align: center;
    text-decoration: none;
    background: #efb312;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
button.btn1:hover i.fa.fa-paper-plane-o{
    color: #efb312 !important;
}
/*-- //subscribe --*/
/*-- footer --*/
.w3l_footer {
    background: #0e0e0e;
    padding: 3em 0;
}
.w3ls_footer_grid_left {
    width: 33.3%;
}
.w3ls_footer_grid_left h4 {
    font-size: 1.2em;
    color: #fff;
    letter-spacing: 5px;
    margin-bottom: .6em;
	    font-weight: 600;
}
.w3ls_footer_grid_left p {
    color: #9c9c9c;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.w3ls_footer_grid_left p a {
    text-decoration: none;
    color: #EA3621;
}
.w3ls_footer_grid_left p a:hover {
    text-decoration: none;
    color: #fff;
}
.w3ls_footer_grid_left p span {
    color: #cecece;
    margin-right: 7px;
}
.footer-button {
    text-align: center;
}
.footer-button h2 {
    color: #fff;
    font-size: 18px;
    letter-spacing: 6px;
    margin-top: 2em;
}
.button-top-w3layouts {
    display: block;
    margin: 0 auto;
    margin-top: 2em;
	position:relative;
}
.button-top-w3layouts:before {
    content: "";
    width: 45%;
    height: 4%;
    background:#dca44b;
    position: absolute;
    display: block;
    top: 49px;
    left: 0px;
}
.button-top-w3layouts:after {
    content: "";
    width: 45%;
    height: 4%;
    background:#dca44b;
    position: absolute;
    display: block;
    top: 49px;
    right: 0px;
}
.button-top-w3layouts i {
    color: #fff;
    font-size: 38px;
}
.logo-icons-w3ls i.fa.fa-heart-o.heart2 {
    color: #ea3621;
    font-size: 48px;
}
.logo-icons-w3ls{
	position:relative;
}
.logo-icons-w3ls i.heart1 {
    position: absolute;
    left: 48%;
    transform: rotate(-22deg);
    top: 34%;
    font-size: 30px;
}
.w3ls_footer_grid {
    margin: 0 auto;
    text-align: center;
}
/*-- copyright --*/
.footer-bot {
	background:#dca44b;
	padding: 1em 0;
}
.logo2{
	float:left;
}
.logo2 h3 a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    margin: 0;
}
.ftr-menu {
    float: right;
    margin-top:5px;
}
.ftr-menu ul li{
	display:inline-block;
}
.ftr-menu ul li a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	display:block;
	text-decoration:none;
	font-size:16px;
	font-weight:500;
	color:#fff;
	margin:0 16px;
}
.ftr-menu ul li a:hover{
	color:#fff !important;
}
.copy-right{
	padding:15px 0;
	background:#020202;
}
.copy-right p {
	margin:0px 0 0 0;
	font-size:14px;
	color: #fff;
	text-align:center;
	letter-spacing: 2px;
}
.copy-right p a{
	color:#fff;
}
.copy-right p a:hover {
    color: #f44236;
}
/*-- //copyright --*/
/*-- /responsive design --*/
@media(max-width:1440px){
}
@media(max-width:1366px){
}
@media(max-width:1280px){
	.w3-services-grid-right {
    padding: 2.6em 3em;
  }
}
@media(max-width:1080px){
	.search-grid {
    width: 25%;
}
.agileits-banner-info h3 {
    color: #fff;
    font-size: 3.2em;
}
.w3layouts-banner-top,.w3layouts-banner-top1,.w3layouts-banner-top2,.w3layouts-banner-top3 {
    min-height: 530px;
}
.agileits-banner-info {
    padding: 15em 0 0em;
}
.w3-services-grid-right {
    padding: 2.6em 0em;
}
.w3-services-grid-right {
    padding: 1em 0em;
}
.w3-services-grids {
    min-height: 371px;
	background: url(../images/s11.jpg) no-repeat 0px -124px;
    background-size: cover;
}
.textbox h4 {
       margin-top: 2.5em;
}
}
@media(max-width:1024px){
	.agileits-banner-info p {
    width: 70%;
}
.banner-btm-inner {
    flex: 1;
    padding: 6em 2.5em;
}
}
@media(max-width:991px){
	.agileits-banner-info h3 {
    color: #fff;
    font-size: 2.8em;
    letter-spacing: 1px;
}
.about-left {
    width: 80%;
    margin: 2em auto;
}
.w3-services-grids {
    min-height: 371px;
    background: url(../images/s11.jpg) no-repeat 0px -49px;
}
.w3-services-grid-info {
    width: 50%;
    margin: 0 auto;
}
.w3-services-grid-left1 {
    width: 20%;
    float: left;
}
.w3-services-grid-right1 {
    width: 80%;
    float: left;
}
.w3-services-grid-info {
    width: 50%;
    margin: 2em auto;
}
.w3ls_footer_grid_left {
    width: 100%;
}
.agileits-banner-info h3 {
    color: #fff;
    font-size: 2.5em;
    letter-spacing: 1px;
}
.w3ls_footer_grid_left {
    width: 100%;
    margin: 0 0 2em 0;
}
.teamgrid1 img {
    width: 100%;
}
.teamgrid1 {
    width: 50%;
    float: left;
	margin-bottom:2em;
}
.gallery-grid.gallery1 {
    width: 33.33%;
    float: left;
}
.address {
    width: 100%;
}
.w3-agile-address-left {
    width: 12%;
    float: left;
}
.w3-agile-address-right {
    width: 88%;
}
.contact-form {
    width: 100%;
    margin: 2em 0 0 0;
}
}
@media(max-width:800px){
	.banner-1 {
    background: url(../images/ba1.jpg) no-repeat 0px -88px;
    background-size: cover;
}
}
@media(max-width:767px){
	div#bs-example-navbar-collapse-1 {
    position: absolute;
    width: 100%;
    z-index: 999;
}
.navbar-default .navbar-nav > li > a {
    width: 25%;
	margin:0 auto;
	padding: 1em;
	color: #fff !important;
}
li.menu__item {
    background: #00000094;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
    font-size: 1.05em;
}
.open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #dca44b !important;
}
.navbar-default .navbar-nav > li > a:hover {
    color:  #000000 !important;
}

}
@media(max-width:736px){
	.stats-grid.stats-grid-1.gridw3,.stats-grid.stats-grid-2.gridw3,.stats-grid.stats-grid-3.gridw3   {
    width: 50%;
    margin: 0 auto 2em;
}
li.menu__item {
    background: #dca44b87;
}
.search-grid {
    width: 31%;
}
}
@media(max-width:734px){
.search-grid {
    width: 35%;
}
}
@media(max-width:667px){
	.search-grid {
    width: 35%;
}
.subscribe h3.heading {
    font-size: 2.5em;
}
.about, .services, .w3-offer, .testimonials, .contact, .team, .gallery, .about-grids1 {
    padding: 3em 0;
}
.banner-1 {
    background: url(../images/ba1.jpg) no-repeat 0px -10px;
    background-size: cover;
}
}
@media(max-width:640px){
	.w3-services-grid-right1 {
    width: 100%;
    float: left;
}
.w3-heading-all h3 {
    font-size: 2.8em;
}
.address h4 {
    font-size: 2em;
}
}
@media(max-width:600px){
	.agileits-banner-info h3 {
    color: #fff;
    font-size: 2.3em;
    letter-spacing: 1px;
}
.agileits-banner-info {
    padding: 13em 0 0em;
}
.w3-heading-all h3 {
    font-size: 2.5em;
}
.navbar-default .navbar-nav > li > a {
    width: 35%;
}
.w3l_testimonial_grid_pos {
    top: -17%;
}
.logo2 {
    float: none;
    text-align: center;
}
.ftr-menu {
    float: none;
    margin-top: 5px;
    text-align: center;
}
.gallery-grid.gallery1 {
    width: 50%;
    float: left;
}
.textbox h4 {
    margin-top: 3.5em;
}
}
@media(max-width:568px){
	.w3l_testimonial_grid {
    padding: 4em 0em 2em;
}
.logo2 {
    float: none;
    text-align: center;
}
.ftr-menu {
    float: none;
    margin-top: 16px;
    text-align: center;
}
.w3ls_about_left_grid h3 {
    font-size: 1.5em;
}
}
@media(max-width:480px){
	.search-grid {
    width: 44%;
    margin: 1em 0;
  }
  .agileits-banner-info h3 {
    color: #fff;
    font-size: 2em;
    letter-spacing: 1px;
  }
  .agileits-banner-info {
    padding: 9em 0 0em;
   }
   .w3l_testimonial_grid p {
     padding-left: 1em;
   }
   .teamgrid1 {
    width: 80%;
    float: none;
    margin-bottom: 2em;
    margin: 0 auto 2em;
    }
	.navbar-default .navbar-nav > li > a {
    width: 50%;
   }
   .textbox h4 {
    margin-top: 2.5em;
    }
	.w3-agile-address-left {
    width: 20%;
    float: left;
  }
  .w3-agile-address-right {
    width: 80%;
}
.contact input[type="text"] {
    width: 100%;
}
.contact input.email {
    margin-left: 0;
}
}
@media(max-width:414px){
	.w3layouts-banner-top, .w3layouts-banner-top1, .w3layouts-banner-top2, .w3layouts-banner-top3 {
    min-height: 400px;
}
.w3-services-grid-info {
    width: 100%;
    margin: 2em auto;
}
.w3-heading-all h3 {
    font-size: 2em;
}
.subscribe h3.heading {
    font-size: 1.8em;
}
.footer-button h2 {
    color: #fff;
    font-size: 18px;
    letter-spacing: 3px;
    margin-top: 2em;
}
.ftr-menu ul li a {
    margin: 0 8px;
}
.search-grid {
    width: 65%;
    margin: 1em 0;
}
.stats-grid.stats-grid-1.gridw3, .stats-grid.stats-grid-2.gridw3, .stats-grid.stats-grid-3.gridw3 {
    width: 75%;
    margin: 0 auto 2em;
}
.stats {
    padding: 2em 0;
}
.gallery-grid.gallery1 {
    width: 100%;
    float: none;
}
.textbox h4 {
    margin-top: 4.5em;
}
}
@media(max-width:412px){
.agileits-banner-info h3 {
    font-size: 1.8em;
}
.agileits-banner-info p {
    width: 100%;
}
}
@media(max-width:384px){
	.agileits-banner-info h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
}
.agileits-banner-info p {
    width: 100%;
}
.w3-services-grid-right i {
    font-size: 2em;
    color: #dca44b;
}
.w3l_testimonial_grid p:before {
    font-size: 1em;
}
.search-grid {
    width: 55%;
    margin: 1em 0;
}
.about, .services, .w3-offer, .testimonials, .contact, .team, .gallery, .about-grids1 {
    padding: 2em 0;
}
.numscroller {
    font-size: 2em;
}
.w3-agile-address-right h5 {
    font-size: 1.3em;
}
.button-top-w3layouts:after {
    width: 34%;
}
.button-top-w3layouts:before {
    content: "";
    width: 36%;
}
}
@media(max-width:375px){
	.navbar-default .navbar-nav > li > a {
    width: 56%;
}
.ftr-menu ul li a {
    margin: 0 4px;
}
.subscribe-grid input[type="email"] {
    width: 70%;
}
}
@media(max-width:320px){
	.search-grid {
    width: 80%;
    margin: 1em 0;
}
.agileinfo-phone {
    float: none;
    margin: 0 auto;
}
.agileinfo-phone {
    float: none;
    margin: 0.5em auto 0;
    width: 56%;
}
.search-grid {
    width: 100%;
    margin: 1em 0;
}
.navbar-header.navbar-left h1 {
    font-size: 2em;
}
.banner-btm-inner {
    flex: none;
    width: 100%;
}
.subscribe h3.heading {
    font-size: 1.5em;
}
.subscribe-grid {
    text-align: center;
    width: 100%;
    margin: 2em auto 0;
}
.ftr-menu ul li a {
    margin: 0 3px;
}
.teamgrid1 {
    width: 100%;
    float: none;
}
.footer-button h2 {
    font-size: 14px;
    letter-spacing: 3px;
    margin-top: 1em;
}
.textbox h4 {
    margin-top: 3.5em;
}
.w3-agile-address-left {
    width: 100%;
    float: none;
}
.w3-agile-address-right {
    width: 100%;
    margin-top: 1em;
}
.address-row {
    margin-top: 1em;
}
}
/*-- /responsive design --*/